body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.navbar .menu-icon {
    font-size: 28px;
    cursor: pointer;
    color: #f2f2f2;
}
.container {
    margin-top: 60px; /* Add margin to avoid overlap with navbar */
    padding: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
select, button {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #218838;
}
#projectContainer {
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f8f8f8;
}
img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}